{% extends 'screen.html' %}

{% load static %}

{% block screen_content_left %}
    <div class="screen_content_left">
        <div class="worldmap_content_left" >

        </div>
    </div>
{% endblock %}



{% block screen_content_main %}
    <div class="screen_content_main">
        <div class="worldmap_field" style="background-image: url('{% static "images/forest.png"%}');">

        </div>
    </div>
{% endblock %}


{% block screen_content_right %}
    <div class="screen_content_right">
        <div class="worldmap_content_right">

        </div>
    </div>
{% endblock %}
